.card {
    border: solid 1px #00b4cc;
    padding: .1rem;
    margin: .3rem;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 180px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .div h3 {
    word-wrap: break-word;
    max-width: 180px;
} */

img {
    max-width: 150px;
    max-height: 150px;

}